[Unit]
Description=Run HODL CronOps worker watchdog every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
